<header>
    <div class="navbar navbar-dark bg-success shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <strong style="font-size: 30px; margin-left: 15px;">E-Ticaret</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Product">
            </div>
            <span class="fa fa-search search-icon"></span>
        </div>
        <button routerLink="cart" class="btn btn-success">
            <i style="font-size:30px;" class="fas fa-cart-plus"></i>
            <div class="badge bg-danger">{{totalItemNumber}}</div>
        </button>
    </div>
</header>
